[user]
	name = Kelvin Mai
	email = kelvin.mai002@gmail.com
[credential]
	helper = store
[pager]
	branch = false
[core]
	editor = nvim 
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d -u ~/.config/nvim/init.vim \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[pull]
	rebase = false
[init]
	defaultBranch = main
