[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "ubuntu-font"]
	path = ubuntu-font
	url = https://github.com/mariomc/ubuntu-font
