[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Mailspring-dracula-theme"]
	path = Mailspring-Dracula-theme
	url = https://github.com/kelvin-mai/Mailspring-Dracula-theme.git
[submodule ".vim/bundle/ranger.vim"]
	path = .vim/bundle/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
