{:aliases 
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :nrepl {:extra-paths ["dev"]
          :extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}
                       cider/cider-nrepl {:mvn/version "RELEASE"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "--interactive"]}}}
